@import url('https://fonts.googleapis.com/css2?family=Prata&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scrollbar-width: none;
  min-height: min-content;
}

body {
  color: white;
  font-family: 'DM Sans';
  font-weight: 500;
  min-height: 100svh;
  background: url('bg.png') no-repeat, hsl(202, 24%, 7%);
  background-size: 100%;
  background-position: -50vh 10%;
}

@media screen and (max-width: 768px) {
  body {
    background-size: 250%;
    background-position: -50vh 30vh;
  }
}

/*
main {
  display: flex;
  flex-direction: column;
  animation: hue 30s infinite;
}
  */

:root {
  --selection-bg: #666b;
  --selection-text: #fff;
}

::selection {
  background-color: var(--selection-bg);
}

a {
  text-decoration: none;
  color: white;
  overflow: hidden;

  & i {
    scrollbar-width: none;
    overflow: clip;
  }
}

#header-icons {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  margin-top: .5em;
  scrollbar-width: none;
}

#links {
  & a {
    display: flex;
    color: gainsboro;
    align-items: center;
    position: relative;
    transition: .3s all ease-in-out;
    gap: .25em;
    text-shadow: 0 0 1px rgba(155, 155, 155, .6);

    & i {
      padding-inline-end: .5em;
      padding: .25em .5em .25em .05em;
      display: inline-block;
      font-size: .8em;
      height: max-content;
    }
  }
  /*
  & a::after {
    font-family: FontAwesome;
    content: '\f08e';
    font-size: .67em;
    margin-left: auto;
    padding-inline-start: .5em;
  }
  */
  & span {
    position: relative;
  }
  & h4 {
    font-variant: small-caps;
    position: relative;
  }

  & a:hover {
    transform: scale(.92);
    transform: translateY(-0.2rem);
    color: white;
  }
  & a > i:nth-of-type(2) {
    position: absolute;
    right: 1em;
    padding: .3em .667em;
    background-color: #1111;
    border-radius: 50%;
    z-index: 10;
  }
}

#links:has(a:hover) a:not(:hover) {
  opacity: .8;
}

main #links a.large-btn {
  height: 15em;
  align-items: center;
  display: flex;
  overflow: visible;
  & i {
    align-self: flex-end;
  }
  & span {
    align-self: flex-end;
  }
}

/*
 *  This is for the Modal
 *  Very Messy
*/

.modal {
  backdrop-filter: blur(.25em);
  & ul {
    display: flex;
    flex-direction: column;
    gap: .5em;
    list-style: none;
    padding: 1em;
    border: 1px solid rgba(80, 80, 80, .6)x;
    border-radius: .25em;
    max-width: 628px;
    width: 33%;
    & li {
      display: flex;
      gap: .5em;
      align-items: center;
      justify-content: flex-start;
      border-radius: inherit;
      background-color: #4443;
      cursor: pointer;
      padding: .25em .5em;
      border: 2px solid rgba(80, 80, 80, .6);
      & a, button {
        font-size: .5em;
      }
      & i {
        padding: .125em;
        width: 1.25em;
        height: 1.25em;
        display: grid;
        border-radius: .5rem;
        color: attr(data-color);
        place-items: center;
      }
    }
    & li::after {
      font-family: FontAwesome;
      content: '\f08e';
      font-size: .33em;
      margin-left: auto;
      padding-inline-start: .5em;
    }
  }
}

@media screen and (max-width: 768px) {
  .modal {
    & ul {
      max-width: 60%;
      width: 100%;
    }
  }
}